<section class="cadastro-component">
  <mat-card class="card-content">
    <mat-card-header>
      <mat-card-title>Crie sua conta</mat-card-title>
    </mat-card-header>
    <form [formGroup]="formulario">
      <mat-card-content>
        <div class="name">
          <mat-form-field appearance="outline">
            <mat-label>Nome Completo</mat-label>
            <input type="text" matInput formControlName="name" />
            <mat-error
              *ngIf="formulario.get('name')?.errors?.['required'] && formulario.get('name')?.touched"
              >*Campo obrigatório</mat-error
            >
            <mat-error
              *ngIf="formulario.get('name')?.errors?.['minlength']  && formulario.get('name')?.touched"
              >*Nome inválido</mat-error
            >
          </mat-form-field>
        </div>
        <div class="inform">
          <div class="date">
            <mat-form-field appearance="outline">
              <mat-label>Data de nascimento</mat-label>
              <input type="date" matInput formControlName="nascimento" />
              <mat-error
                *ngIf="formulario.get('nascimento')?.errors?.['required'] && formulario.get('nascimento')?.touched"
                >*Campo obrigatório</mat-error
              >
            </mat-form-field>
          </div>
          <div class="sexo">
            <p>Genero</p>
            <div>
              <div>
                <input
                  type="radio"
                  value="feminino"
                  name="sexo"
                  formControlName="sexo"
                />
                <label>Feminino</label>
              </div>
              <div>
                <input
                  type="radio"
                  value="masculino"
                  name="sexo"
                  formControlName="sexo"
                />
                <label>Masculino</label>
              </div>
              <div>
                <input
                  type="radio"
                  value="na"
                  name="sexo"
                  formControlName="sexo"
                />
                <mat-error
                  *ngIf="formulario.get('sexo')?.errors?.['required'] && formulario.get('sexo')?.touched"
                  >*Campo obrigatório</mat-error
                >
                <label>Prefiro não informar</label>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>CPF</mat-label>
              <input
                type="string"
                matInput
                formControlName="cpf"
                minlength="11"
                maxlength="11"
              />
              <mat-error
                *ngIf="formulario.get('cpf')?.errors?.['required'] && formulario.get('cpf')?.touched"
                >*Campo obrigatório</mat-error
              >
              <mat-error
                *ngIf="formulario.get('cpf')?.errors?.['minlength'] && formulario.get('cpf')?.touched"
                >*CPF Inválido</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Telefone</mat-label>
              <input type="string" matInput formControlName="telefone" />
              <mat-error
                *ngIf="formulario.get('telefone')?.errors?.['required'] && formulario.get('telefone')?.touched"
                >*Campo obrigatório</mat-error
              >
              <mat-error
                *ngIf="formulario.get('telefone')?.errors?.['minlength'] && formulario.get('telefone')?.touched"
                >*Telefone Inválido</mat-error
              >
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Cidade</mat-label>
              <input type="string" matInput formControlName="cidade" />
              <mat-error
                *ngIf="formulario.get('cidade')?.errors?.['required'] && formulario.get('cidade')?.touched"
                >*Campo obrigatório</mat-error
              >
              <mat-error
                *ngIf="formulario.get('cidade')?.errors?.['minlength'] && formulario.get('cidade')?.touched"
                >*Cidade Inválida</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Estado</mat-label>
              <input type="string" matInput formControlName="estado" />
              <mat-error
                *ngIf="formulario.get('estado')?.errors?.['required'] && formulario.get('estado')?.touched"
                >*Campo obrigatório</mat-error
              >
              <mat-error
                *ngIf="formulario.get('estado')?.errors?.['minlength'] && formulario.get('estado')?.touched"
                >*Estado Inválido</mat-error
              >
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                type="email"
                autocomplete="username"
                matInput
                formControlName="email"
              />
              <mat-error
                *ngIf="formulario.get('email')?.errors?.['required'] && formulario.get('email')?.touched"
                >*Campo obrigatório</mat-error
              >
              <mat-error
                *ngIf="formulario.get('email')?.errors?.['email'] && formulario.get('email')?.touched"
                >*Não compativel com formato email.
                <b>exemplo@hotmail.com</b></mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirmar Email</mat-label>
              <input type="email" matInput formControlName="emailCheck" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input
                type="password"
                matInput
                autocomplete="new-password"
                formControlName="senha"
              />
              <mat-error
                *ngIf="formulario.get('senha')?.errors?.['required'] && formulario.get('senha')?.touched"
                >*Campo obrigatório</mat-error
              >
              <mat-error
                *ngIf="formulario.get('senha')?.errors?.['minlength'] && formulario.get('senha')?.touched"
                >*Requisitos não atingidos</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirmar senha</mat-label>
              <input
                type="password"
                autocomplete="new-password"
                formControlName="senhaCheck"
                matInput
              />
            </mat-form-field>
          </div>
        </div>
        <div>
          <input type="checkbox" />
          <p>Li e aceito os termos e condições deste cadastro.</p>
        </div>
        <div class="botao">
          <button
            mat-raised-button
            color="primary"
            [disabled]="!formulario.valid"
            (click)="submit()"
          >
            CRIAR MINHA CONTA
          </button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</section>
